.wp-block-button__link {
	border-radius: 3px;
	font-size: 15px;
	font-weight: 700;
	letter-spacing: 0.54px;
	line-height: 1.25;
	text-transform: uppercase;
	background-color: $blue;
	background-color: #418AD0;
	box-shadow: 2px 2px 0 0 $accent;
}
.wp-block-button {
	margin: 0 0 1em 0;
	&.square {
		.wp-block-button__link {
			border-radius: 0;
		}
	}
	&.circular {
		.wp-block-button__link {
			border-radius: 100px;
		}
	}
}
