.gutenberg-compatible-template.using-gutenberg {
	@media (min-width: 600px) {
		.wp-block-columns {
			&.has-spacing-small {
				.wp-block-column {
					margin-right: 1rem;
					&:last-child {
						margin-right: 0;
					}
				}
			}
			&.has-spacing-medium {
				.wp-block-column {
					margin-right: 3rem;
					&:last-child {
						margin-right: 0;
					}
				}
			}
			&.has-spacing-large {
				.wp-block-column {
					margin-right: 5rem;
					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
	}
}
