//Group Block extension
.wp-block-group {
	&.is-style-lsx-group-style-subheading {
		padding-top: $lsx-medium-gap / 2;
		padding-bottom: $lsx-medium-gap / 2;
		text-align: center;
		h2 {
			font-size: 48px;
			margin-bottom: 1.5rem;
			@media (min-width: 1200px) {
				line-height: 61px;
			}
		}
		p {
			font-size: 28px;
			line-height: 24px;
			color: $text_light;
			&:last-child,
			&.block-editor-block-list__block {
				&:after {
					content: "";
					display: block;
					height: 2px;
					margin: 1.5rem auto 0;
					width: 80px;
					background-color: #dadddf;
					position: relative;
				}
				&.has-text-align-left {
					&:after {
						margin-left: 0;
					}
				}
				&.has-text-align-right {
					&:after {
						margin-right: 0;
					}
				}
			}
		}
	}
	&.lsx-group-style-card {
		background: $groupbg;
		margin: 0 auto 2.4em;
		display: flex;
		flex-flow: row wrap;
		flex-direction: column;
		justify-content: space-around;
		width: 100%;
		padding: 0;
		.wp-block-group__inner-container,
		.wp-block-image img,
		.wp-block-button .wp-block-button__link {
			width: 100%;
		}
		.wp-block-group__inner-container {
			> *:not(.wp-block-image) {
				padding-left: 1.5rem;
				padding-right: 1.5rem;
			}
			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				margin-bottom: 0;
			}
			h2 {
				font-size: 20px;
				font-weight: bold;
			}
			img[src$=".svg"] {
				max-width: 90px;
				padding-top: 30px;
				max-height: 110px;
				object-fit: contain;
			}
			p + .wp-block-button {
				margin-top: 3rem;
			}
			p.has-small-font-size {
				margin-bottom: 2rem;
			}
		}
	}
}
